body, html{
    padding: 0;
    margin: 0;
}
#root{
    background: linear-gradient(-45deg, #e98263, #f16a9e, #DDBBFF, #ffe8e8);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
/* question */
.Content_Block{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width:850px;
    max-height: 1900px;
    height: 100vh;
    width: 100%;
}
.QuestionBlock{
    position: relative;
    padding: 20px;
    background: #faf5f5;
    border-radius: 1rem;
    width: 92%;
    margin: auto;
    height: 500px;
    margin-bottom:30px;
    margin-top: 30px;
}
.QueationTitle{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: default;
    color: rgb(59, 59, 60);
    text-decoration:underline solid rgb(59, 59, 60);
    transition: all 0.5s;
}
.QueationUl{
    padding: 0;
    margin: 0;
}
.QueationLi{
    text-align: start;
    font-size: 25px;
    margin-bottom: 20px;
    border: 1px solid rgb(66, 66, 154);
    padding: 5px;
    border-radius: 10px;
    list-style-type:none;
    cursor: pointer;
    color:rgb(66, 66, 154);
    transition: 0.3s;
}
.QueationLi:hover{
    transition: 0.3s;
    color: #fff;
    background:rgb(12, 12, 202) ;
    border: 1px solid rgb(12, 12, 202);
}
.QueationText{
    text-align: end;
    align-items: end;
    display: flex;
    bottom: 1px;
    font-size: 20px;
    left: 82.5%;
    position: absolute;
    cursor: default;
}
@media(max-width:820px){

}
/* correct */
.correstBlock{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width:850px;
    max-height: 1900px;
    height: 100vh;
    width: 100%;
}
.correstBlock_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 20px;
    background: #faf5f5;
    border-radius: 1rem;
    width: 92%;
    margin: auto;
    height: 500px;
    margin-bottom:30px;
    margin-top: 30px;
}
.correstSmail{
    font-size: 160px;
    margin: 20px 0;
    cursor: default;
    border-radius: 100%;
}
.correstTitle{
    cursor: default;
    font-size: 30px;
    margin-bottom: 40px;
}
.correstA{
    font-size: 25px;
    transition: 0.3s;
    padding: 10px  20px;
    text-decoration: none;
    border-radius: 10px;
    border:1px solid  rgb(12, 12, 202);
}
.correstA:hover{
    transition: 0.3s;
    color: #fff;
    background:rgb(12, 12, 202) ;
    border: 1px solid rgb(12, 12, 202);
}